html, body {
    background-color: #FFFFFF;
    color: #716D6A;
    height: 100%;
    text-align: center;
}

#wrapper {
    font-family: "Trebuchet MS","Helvetica","Arial","Verdana","sans-serif";
    font-size: 8pt;
    min-height: 97%;
    height: auto !important;
    height: 97%;
    width: 100%;
    margin: 0 auto -2em;
    text-align: left;
background: -moz-linear-gradient(top, rgba(182,141,76,1) 6%, rgba(182,141,76,0.91) 14%, rgba(182,141,76,0.84) 21%, rgba(206,174,124,0.53) 50%, rgba(233,212,179,0.53) 83%, rgba(243,226,199,0.53) 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,rgba(182,141,76,1)), color-stop(14%,rgba(182,141,76,0.91)), color-stop(21%,rgba(182,141,76,0.84)), color-stop(50%,rgba(206,174,124,0.53)), color-stop(83%,rgba(233,212,179,0.53)), color-stop(97%,rgba(243,226,199,0.53))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(182,141,76,1) 6%,rgba(182,141,76,0.91) 14%,rgba(182,141,76,0.84) 21%,rgba(206,174,124,0.53) 50%,rgba(233,212,179,0.53) 83%,rgba(243,226,199,0.53) 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(182,141,76,1) 6%,rgba(182,141,76,0.91) 14%,rgba(182,141,76,0.84) 21%,rgba(206,174,124,0.53) 50%,rgba(233,212,179,0.53) 83%,rgba(243,226,199,0.53) 97%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(182,141,76,1) 6%,rgba(182,141,76,0.91) 14%,rgba(182,141,76,0.84) 21%,rgba(206,174,124,0.53) 50%,rgba(233,212,179,0.53) 83%,rgba(243,226,199,0.53) 97%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b68d4c', endColorstr='#87f3e2c7',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(182,141,76,1) 6%,rgba(182,141,76,0.91) 14%,rgba(182,141,76,0.84) 21%,rgba(206,174,124,0.53) 50%,rgba(233,212,179,0.53) 83%,rgba(243,226,199,0.53) 97%); /* W3C */
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
}
#content
{
   position:fixed;
   top:50%;
   left:50%;
   margin-top:-100px;
   margin-left:-150px;
   height:300px;
   width:400px;
   padding-top: 5px;
   padding-left: 10px;
   background: #F5ECCE url(../images/CAAM.png) no-repeat right;
   border:none 0px #000000;
    -moz-border-radius: 46px;
    -webkit-border-radius: 46px;
   border-radius: 46px;
   background-color: #F7F2E0;
   font-family:Verdana;
       -moz-box-shadow: 7px 6px 7px #696b6b;
    -webkit-box-shadow: 7px 6px 7px #696b6b;
    box-shadow: 7px 6px 7px #696b6b;
}


#push {
    height: 2em;
    clear: left;
    text-align: center;
}
#footer {
    background-color: #F5ECCE;
    height: 2em;
    clear: left;
    border: 1px solid #CCCCCC;
        -moz-border-radius: 46px;
    -webkit-border-radius: 46px;
   border-radius: 46px;
    margin: 0 30px 8px 30px;
    text-align: center;
    font-size: 8pt;
    padding-top: 4px;
}
label{
    display: block;
    font-weight: bold;
    color: #000000;
    margin: 10px 2px 2px 20px;
}
input{
    background-color: #E2EAED;
    color: #666666;
    margin: px 2px 2px 20px;
    border: 1px solid silver;
    width: 200px;
       border:none 0px #000000;
    -moz-border-radius: 46px;
    -webkit-border-radius: 46px;
   border-radius: 46px;
}
.boton{
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid gray;
    width: 80px;
    height: 26px;
    background: #ff3019; /* Old browsers */
background: -moz-linear-gradient(top, #ff3019 22%, #cf0404 62%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#ff3019), color-stop(62%,#cf0404)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff3019 22%,#cf0404 62%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff3019 22%,#cf0404 62%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ff3019 22%,#cf0404 62%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ff3019 22%,#cf0404 62%); /* W3C */
}
a {
    color: #4E728C;
}
p {
    color: red;
    margin: 6px 2px 2px 20px;
}